.about {
    padding: 50px 0;
} 

.about__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about__info {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
}

.about__title {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.about__text {
    line-height: 20px;
}
.about__titleItem {
    color: black;
    font-size: 32px;
}

.about__imageBox {
    max-width: 400px;
    height: 500px;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 2px 5px 10px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    animation: borderImage 5s infinite linear;
    display: flex;
    justify-content: center;
    align-items: start;
}


@keyframes borderImage {
    0% {
        border-radius: 51% 49% 49% 51% / 56% 52% 48% 44% ;
    } 25% {
        border-radius: 54% 46% 56% 44% / 52% 53% 47% 48%;
    } 50% {
        border-radius: 39% 61% 35% 65% / 58% 43% 57% 42% ;
    } 75% {
        border-radius: 58% 42% 66% 34% / 46% 49% 51% 54% ;
    } 100% {
        border-radius: 51% 49% 49% 51% / 56% 52% 48% 44%;
    }

}


@media(max-width: 870px) {
    .about__container {
        margin: 0 5px;
    }
}
