.preview {
    height: 100vh;
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.preview__container {
    height: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    line-height: 50px;
    justify-content: center;
    align-items: center;
}

.preview__title {
    font-size: 38px;
    color: #fff;
    width: 330px;
    text-align: center;
}

.next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    position: relative;
    z-index: 2;
}
.next__item {
    animation: nextArrow 1s infinite alternate;
}


@keyframes nextArrow {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform:translateY(10px);
    }
}